
<section class="choice">
    <div class="container">
       <div class="choice-content">
           <h1 class="common-title choice-title">Выберите тему <span>теста</span></h1>
           <div class="choice-description">Чтобы начать тест, выберите одну из предложенных ниже тем.</div>
           <div class="choice-options" id="choice-options"></div>
       </div>
        <div class="choice-image">
            <img src="/images/choice-image.png" alt="choice-image">
        </div>
    </div>
</section>
